<table>
<tbody>
        <% @budgets.each do |budget| %>

            <tr>
                <td><%= budget.price %></td>
                <td><%= budget.category.name %></td>

            </tr>
        <% end %>
    </tbody>
  </table>