<div class="container">
  <div class="row">
    <div class="mainContents col-sm-12 col-sm-push-4 col-md-12 col-md-push-4">
      <h1 class="subtitle">預金登録</h1>

      <div class="container form-contents">
        <%= form_with(model: @deposit, url: deposits_path, method: :post, local: true) do |f| %>
            <div class="field form-group row">
            <div class="col-md-12 mb-6">
              <%= f.label :"預金額", class:"form-label" %>
              <%= f.text_field :price, autofocus: true, autocomplete: "price", class:"form-control", required: true %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "登録", class:"form-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
