<div class="container">
<h1>支出カテゴリー一覧</h1>

<div class="row">
  <table class="table">
    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td>
                  <%= link_to category_path(category) do %>
                    <%= category.name %>
                  <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>



</div>