<div class="container">
<h1>支出カテゴリー小項目</h1>

<div class="row">
  <table class="table">
    <tbody>
        <% @mini_categories.each do |mini_category| %>
            <tr>
                <td><%= mini_category.name %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>



</div>