
<footer class="switch_footer fixed-bottom">
  <% if user_signed_in? %>
  <div class="switch top-shadow d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-3">
          <%= link_to profile_path do %>
            <i class="fas fa-home fa-lg"></i><br><div class="negative-margin"><span class="font-size">ホーム</span></div>
          <% end %>
        </div>
        <div class="col-3">
          <%= link_to pays_path do %>
            <i class="fas fa-list fa-lg"></i><br><div class="negative-margin"><span class="font-size">明細</span></div>
          <% end %>
        </div>
        <div class="col-3">
          <%= link_to reimbursements_path do %>
            <i class="fas fa-exchange-alt fa-lg orange fs-15"></i><br><div class="negative-margin"><span class="font-size orange">精算</span></div>
          <% end %>
        </div>
        <div class="col-3">
          <%= link_to budgets_path do %>
            <i class="fas fa-chart-pie fa-lg"></i><br><div class="negative-margin"><span class="font-size">分析</span></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
<% else %>
<% end %>
